<a href="https://colab.research.google.com/github/thiago-rj/sql_com_python/blob/main/SQL_com_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
# Biblioteca
import sqlite3

In [3]:
from platform import python_version

print(python_version())

3.10.6

In [5]:
# Criar um banco de dados
Conexao = sqlite3.connect('Banco_Dados')
# Apontar para o banco
Cursor = Conexao.cursor()

In [6]:
# Criando uma tabela
Cursor.execute(
    'CREATE TABLE Minha_Tabela ( Data text, Nome text, Idade real ) '
)

# FAzer um commit
Conexao.commit()

In [7]:
# Inserindo valores
Cursor.execute(' INSERT INTO Minha_Tabela VALUES ( "01/05/2023", "Thiago", "29" ) ')
Cursor.execute(' INSERT INTO Minha_Tabela VALUES ( "05/05/2023", "Lucas", "25" ) ')

In [8]:
# Importar Numeros aleatorios
import random
# Loop
for Loop in range(10):

  # Gernado um numero aleatorio
  Numero = random.randint(10, 20)

  # Inserir informação na minha tabela
  Cursor.execute( f' INSERT INTO Minha_Tabela VALUES ( "04/06/2023", "Lucas", {Numero} ) ')

In [9]:
# Query de consulta - Todas as Colunas
Consulta = Cursor.execute('SELECT * FROM Minha_Tabela').fetchall()

for Linha in Consulta:
  print( Linha )

('01/05/2023', 'Thiago', 29.0)
('05/05/2023', 'Lucas', 25.0)
('04/06/2023', 'Lucas', 14.0)
('04/06/2023', 'Lucas', 14.0)
('04/06/2023', 'Lucas', 14.0)
('04/06/2023', 'Lucas', 14.0)
('04/06/2023', 'Lucas', 13.0)
('04/06/2023', 'Lucas', 10.0)
('04/06/2023', 'Lucas', 20.0)
('04/06/2023', 'Lucas', 15.0)
('04/06/2023', 'Lucas', 13.0)
('04/06/2023', 'Lucas', 15.0)

In [23]:
# Query usando o BetWeen e Order By decrescente
Consulta = Cursor.execute(
    '''
    SELECT *  FROM Minha_Tabela
    WHERE idade BETWEEN 15 AND 25
    ORDER BY Idade DESC
    '''
).fetchall()

for Linha in Consulta:
  print( Linha )

('05/05/2023', 'Lucas', 25.0)
('04/06/2023', 'Lucas', 20.0)
('04/06/2023', 'Lucas', 15.0)
('04/06/2023', 'Lucas', 15.0)

In [25]:
# Query usando MEDIA de idade por nome. OBS: Mesma regra se aplica para SUM, COUNT, MIN e MAX
Consulta = Cursor.execute(
    '''
    SELECT Nome,
          AVG(idade) as idade
     FROM Minha_Tabela
    GROUP BY  Nome
    ORDER BY Idade DESC
    '''
).fetchall()

for Linha in Consulta:
  print( Linha )

('Thiago', 29.0)
('Lucas', 15.181818181818182)

In [34]:
#Consultando usando LEFT JOIN
Consulta = Cursor.execute(
    '''
    SELECT C.Nome as Nome,
           V.Valor as Valor
     FROM Tab_Vendas as V
    LEFT JOIN Tab_Cadastro_Vendedor C
    ON V.id = C.id
    '''
).fetchall()

for Linha in Consulta:
  print( Linha )

('Thiago Queiroz', 100.0)
('Thiago Queiroz', 200.0)
('Thiago Queiroz', 150.0)
('Lucas Santos', 50.0)
('Lucas Santos', 200.0)
('Lucas Santos', 900.0)